-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu 
torchvision==0.9.1+cpu
av==6.2.0
async-generator==1.10
autopep8==1.5.4
black==19.10b0
certifi==2020.12.5
click==7.1.2
cycler==0.10.0
cytoolz==0.11.0
efficientnet-pytorch==0.7.0
Flask==1.1.2
Flask-Cors==3.0.10
imgaug==0.4.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
joblib==1.0.1
pandocfilters==1.4.2
pathspec==0.8.0
protobuf==3.15.7
pycodestyle==2.6.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil==2.8.1
PyYAML==5.4.1
QtPy==1.9.0
regex==2020.6.8
scikit-image==0.17.2
scikit-learn==0.24.1
Send2Trash==1.5.0
Shapely==1.7.1
tensorboardX==2.0
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.1
traitlets==4.3.3
typed-ast==1.4.1
webencodings==0.5.1
Werkzeug==1.0.1
wincertstore==0.2